/* MainGameBlock.css */

.game-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  border-bottom: 1px solid rgb(28, 21, 55);
  grid-area: canvas;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  background: url("../star.png") 0% 0% / contain repeat-x;
  animation: 370370s linear 0s infinite normal none running starMove;
}

.cloud {
  position: absolute;
  width: 100%;
  height: 157px;
  bottom: 0px;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  opacity: 1;
  background: url("../cloud.svg") 0% 0% / contain repeat-x;
  animation: 30000s linear 0s infinite normal none running moveClouds;
  transition: background-position-y 0.64s, opacity 0.64s;
}

@keyframes moveClouds {
  100% {
    background-position-x: -1e+06px;
  }
}

.game-container::before,
.game-container::after {
  content: "";
  position: absolute;
}

.game-container::before {
  background-image: url("../sidebar.svg");
  background-position: left;
  background-repeat: no-repeat repeat;
  top: 0;
  left: 0;
  width: 20px;
  /* Adjust width as per your sidebar image */
  height: 100%;
  /* Make the sidebar take full height of the game container */
  z-index: 1;
  /* Ensure sidebar appears behind game content */
  animation: topTobottom 20s linear 0s infinite normal none;
  border-right: 1px solid rgb(38, 28, 74);
}

.game-container::after {
  background-image: url("../bottombar.svg");
  background-position: center bottom;
  bottom: 0;
  left: 20px;
  width: 100%;
  height: 20px;
  z-index: 1;
  animation: slide 20s linear 0s infinite normal none;
  border-top: 1px solid rgb(38, 28, 74);
}

@keyframes slide {
  0% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0%;
  }
}

@keyframes topTobottom {
  0% {
    background-position-y: 0%;
  }

  100% {
    background-position-y: 100%;
  }
}

@keyframes starMove {
  100% {
    background-position-x: -1e+06px;
  }
}

.animation-stopped::before,
.animation-stopped::after {
  animation-play-state: paused;
}

.animation-stopped {
  animation-play-state: paused;
}

/* .game-container.loading {
  background-image: none;
}
 */
.game-container.loading::before,
.game-container.loading::after,
.game-container.loading {
  animation: none !important;
}

.loading-container {
  display: grid;
  -webkit-box-pack: center;
  place-content: center;
  -webkit-box-align: center;
  place-items: center;
  grid-auto-rows: max-content;
  grid-template-columns: 450px;
  padding: 0px 20px;
  gap: 24px;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  transition: opacity 0.32s;
  z-index: 100;
}

.waiting-text {
  font-family: Rocketfont;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.loading-container img {
  width: 100px;
  height: 100px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.jMhEmG {
  position: relative;
  left: 1px;
  top: 1px;
  background: rgb(148, 78, 245);
  border-radius: 10px;
  height: 4px;
  animation: loading-animation 7s linear infinite;
}

@keyframes loading-animation {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.game-text {
  font-family: Rocketfont;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgb(250, 250, 250);
  text-shadow: rgba(138, 138, 138, 0.5) 0px 0px 21.9869px;
  opacity: 1;
}

.svg-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes flyConstant {
  0% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(-2px);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 110;
  }
}

.shadow {
  fill: url(#grad_shadow);
}

.fly-away {
  animation: fly-away 10s forwards;
  /* Apply the fly-away animation */
}

.toast {
  top: -20px; /* Initial position above the viewport */
  left: calc(50% - 138px);
  position: absolute;
  z-index: 2001;
  opacity: 0; /* Initially hidden */
  transition: top 0.5s ease, opacity 0.5s ease; /* Smooth transition for top position and opacity */
}

.show {
  top: 24px; /* Final position */
  opacity: 1; /* Fully visible */
}

.win-notify {
  height: 65px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 8px;
  background: rgb(41, 24, 84);
  border-radius: 16px;
  border: 1px solid rgb(120, 57, 248);
}

.eGpkga {
  margin-left: 6px;
  margin-right: 10px;
  white-space: nowrap;
}

.eGpkga span {
  font-family: Manrope;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: -0.0011em;
  font-weight: normal;
  color: rgb(223, 229, 242);
}

.eGpkga h2 {
  font-family: Rocketfont;
  font-size: 18px;
  line-height: 20px;
  margin: 0px;
  color: white;
  font-weight: normal;
}

.bjRgBy {
  width: 132px;
  height: 49px;
  background: linear-gradient(263.87deg, rgb(148, 78, 245) 0%, rgb(92, 36, 252) 100%), rgb(117, 62, 194);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  text-align: center;
}

.bjRgBy span{
  font-family: Manrope;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: -0.0023em;
  font-weight: normal;
}

.bjRgBy h2 {
  font-family: Rocketfont;
  padding-top: 2px;
  font-size: 16px;
  margin: 1px 0px -1px;
  line-height: 28px;
  height: 21px;
  font-weight: normal;
}

.paused {
  animation-play-state: paused;
  /* Pause the path and shadow animations */
}

/* COFFECIENT  */

.game-center-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.current-coffecient {
  font-style: normal;
  font-size: 70.1882px;
  line-height: 83px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(148, 78, 245);
  font-weight: 900;
  font-variant-numeric: tabular-nums;
}

.animation-coffecient {
  animation: 0.3s ease 0s 1 normal none running eeiVJC;
}

@keyframes eeiVJC {
  10% {
    opacity: 0.5;
  }

  15% {
    opacity: 1;
  }

  20% {
    opacity: 0.5;
  }

  25% {
    opacity: 1;

  }

  30% {
    opacity: 0.5;
  }

  35% {
    opacity: 1;
  }

  40% {
    opacity: 0.5;
  }

  45% {
    opacity: 1;
  }

  50% {
    transform: scale(1.15);
    opacity: 0.5;
  }

  55% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}