@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.parent {
  grid-area: info;
  border-bottom: 1px solid rgb(28, 21, 55);
  padding: 0px 12px 0px 20px;
  display: grid;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  grid-auto-flow: column;
}

.left {
  display: grid;
  border-right: 1px solid rgb(28, 21, 55);
  width: 332px;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  margin-left: -20px;
  padding-left: 90px;
}

.left::after {
  content: "";
  position: absolute;
  top: -23px;
  bottom: -23px;
  right: -82px;
  width: 1px;
  background: rgb(28, 21, 55);
}

.right {
  display: grid;
  place-content: center end;
  -webkit-box-pack: end;
  gap: 12px;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-auto-rows: max-content;
  position: relative;
  padding-right: 12px;
}

.one {
  display: grid;
  grid-auto-flow: column;
  gap: 7.5px;
  grid-auto-columns: max-content;
  background: rgb(17, 13, 33);
  width: fit-content;
  border-radius: 10px;
  padding: 3px;
}

.btnBorder::after {
  position: absolute;
  content: "";
  top: 7px;
  width: 1.5px;
  height: 16px;
  background: rgb(35, 29, 71);
  border-radius: 16px;
  right: -5.5px;
}

.volume {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(35, 29, 71);
  border-radius: 8px;
  width: 28px;
  height: 28px;
}

.music {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(35, 29, 71);
  border-radius: 8px;
  width: 28px;
  height: 28px;
}

.separator {
  width: 1.5px;
  /* Ширина линии */
  height: 15px;
  /* Высота линии */
  background-color: rgb(35, 29, 71);
  /* Цвет линии */
  margin: 0 3px;
  /* Отступы */
  border-radius: 1px;
}

.two {
  display: grid;
  grid-auto-flow: column;
  gap: 9.5px;
  grid-auto-columns: max-content;
  background: rgb(17, 13, 33);
  width: fit-content;
  border-radius: 10px;
  padding: 3px;
}

.help {
  display: grid;
  grid-auto-flow: column;
  gap: 9.5px;
  grid-auto-columns: max-content;
  background: rgb(17, 13, 33);
  width: fit-content;
  border-radius: 10px;
}

.money {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
  pointer-events: none;
}

.collection {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(35, 29, 71);
  border-radius: 8px;
  width: 28px;
  height: 28px;
}

.collectionDiv {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 7px;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.08px;
  text-align: left;
  padding: 0px 5px;
}

.bteqaw:hover .collectionDiv{
  box-shadow: rgba(55, 47, 101, 0.5) 0px 5px 20px;
}

.text {
  color: white;
  font-size: 12px;
  margin-left: 5px;
  font-family: Manrope;
}

.balance {
  font-variant-numeric: tabular-nums;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.08px;
  color: rgb(250, 250, 250);
}

.three {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(17, 13, 33);
  border-radius: 10px;
  width: 33px;
  height: 33px;
}

.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(35, 29, 71);
  border-radius: 8px;
  width: 28px;
  height: 28px;
}

.line {
  border-bottom: 1px solid rgb(28, 21, 55);
  grid-area: history;
  width: 100%;
  position: relative;
  height: 57px;
  display: grid;
}

.history {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 15px;
  gap: 6px;
  overflow-x: scroll;
  grid-auto-columns: max-content;

}

.shadow {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 56px;
  pointer-events: none;
  width: 353px;
  overflow: hidden;
  background: linear-gradient(270deg, rgb(21, 16, 41) 7.81%, rgba(21, 16, 41, 0) 100%);
}

.fzknmT {
  background: rgb(17, 13, 33);
  border-radius: 10px;
  height: 36px;
  width: 36px;
  padding: 3px;
  display: flex;
  position: absolute;
  right: 12px;
  top: 10px;
}

.dDvXLf {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
}

.bteqaw {
  display: grid;
  position: relative;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  background: none;
  height: auto;
}

.bteqaw::before {
  content: "";
  z-index: 0;
  display: block;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  left: -3px;
  top: -3px;
  position: absolute;
  border-radius: 10px;
  transition: opacity 0.32s;
  background: none;
}

.hSepGF {
  width: 30px !important;
  height: 30px;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
  width: 100%;
  min-height: 30px;
  border-radius: 8px;
  z-index: 1;
  transition: opacity 0.32s, box-shadow 0.32s, background 0.16s;
  background: rgb(35, 29, 71);
}

.hSepGF.helpDiv {
  width: 100% !important;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 8px;
  gap: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.08px;
  text-align: left;
}

.hSepGF:hover {
  background: rgb(59, 50, 112);
}

.chatDiv {
  
}

.popUpMore {
  margin: 0px 10px;
  width: calc(100% - 20px);
  position: absolute;
  background: rgb(35, 29, 71);
  top: 0px;
  border-radius: 16px;
  z-index: 101;
}

.popUpHeader {
  padding: 18px 19px 18px 12px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 56px;
  background: linear-gradient(0deg, rgba(21, 16, 41, 0.25), rgba(21, 16, 41, 0.25));
  border-bottom: rgb(47, 36, 92);
}

.popUpTitle {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.popUpClose {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
}

.bteqaw::before {
  content: "";
  z-index: 0;
  display: block;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  left: -3px;
  top: -3px;
  position: absolute;
  border-radius: 10px;
  transition: opacity 0.32s;
  background: rgb(17, 13, 33);
}

.sc-kOPcWz {
  width: 30px;
  height: 30px;
  padding: 0px;
  background: rgba(222, 139, 3, 0.15);
}

.hSepGF {
  display: grid;
  place-items: center;
  -webkit-box-align: center;
  width: 100%;
  min-height: 30px;
  border-radius: 8px;
  z-index: 1;
  transition: opacity 0.32s, box-shadow 0.32s, background 0.16s;
  background: rgb(35, 29, 71);
}

.hdPKzm {
  width: 18px;
  height: 18px;
  background: url("../close.svg") center center / cover no-repeat;
}

.popUpList {
  display: grid;
  padding: 10px 12px;
  grid-template-columns: repeat(auto-fill, 56px);
  gap: 8px 6px;
  border-top: 1px solid rgb(40, 40, 40);
}

.popUpTitle img {
  margin-right: 10px;
}

.popUpTitle h2 {
  margin: 0px;
  text-transform: uppercase;
  color: white;
  font-family: Rocketfont;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-align: left;
}

.dIPjTS {
  width: 30px;
  height: 30px;
  padding: 0px;
  background: rgba(222, 139, 3, 0.15);

  display: grid;
  place-items: center;
  -webkit-box-align: center;

  min-height: 30px;
  border-radius: 8px;
  z-index: 1;
  transition: opacity 0.32s, box-shadow 0.32s, background 0.16s;
}